{% extends 'layouts/d.html' %}
{% load static %}
{% block inbox %}
<link rel="stylesheet" href="{% static 'css/a_inbox/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    {% for conversation in conversations %}
                        {% if request.user in conversation.participants.all %}
                        <li class="clearfix selected"
                        hx-get="{% url 'inbox:conversation' conversation.pk %}"
                        hx-trigger="click"
                        hx-target="#card_chat-app"
                        hx-swap="innerHTML"
                        _="on htmx:afterOnLoad take .tab for event.target">
                            {% if conversation.participants.all.1 == request.user %}
                                <img src="{{ conversation.participants.all.0.profile.get_image }}" alt="avatar">
                                <div class="about">
                                    <div class="name">{{ conversation.participants.all.0.profile.get_full_name }}</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i>{{ conversation.lastmessage_created }}</div>                                            
                                </div>
                            {% else %}
                                <img src="{{ conversation.participants.all.1.profile.get_image }}" alt="avatar">
                                <div class="about">
                                    <div class="name">{{ conversation.participants.all.1.profile.get_full_name }}</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i>{{ conversation.lastmessage_created }}</div>                                            
                                </div>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="col-sm-8">
            {% include 'a_inbox/conversation.html' %}
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}