{% extends 'layouts/a.html' %}

{% block content %}

{% include 'a_posts/post.html' %}

{% if request.user.is_authenticated %}
<div class="card !pb-0 -mt-3">
    <form method="POST" action="{% url 'a_posts:create_comment' post.pk %}" class="flex items-center p-4" autocomplete="off">
        {% csrf_token %}
        {{ form_comment.body }}
        <button @click="open = false" class="block ml-2" type="submit">Submit</button>
    </form>
</div>
{% endif %}

<div class="mb-20">
    <div id="tabs" class="ml-4 flex gap-1 mb-4">
        <a class="tab selected">Newest First</a> 
        <a class="tab">Top Comments</a>
    </div>

    <div id="tab-contents">
        {% for comment in post.comments.all %}
        <comment class="card p-4 !mb-4">
            <div class="flex justify-between items-center"> 
                <a class="flex items-center gap-1 mb-2" href="{{ comment.author.profile.get_absolute_url }}">
                    <img class="w-8 h-8 object-cover rounded-full" src="{{ comment.get_author.avatar }}"> 
                    <span class="font-bold hover:underline">{{ comment.get_author.full_name }}</span>
                    {% if comment.author %}
                    <span class="text-sm font-normal text-gray-400">@{{ comment.author }}</span>
                    {% endif %}
                </a>
            </div>
            <p class="text-xl px-2">
                {{ comment.body }}
            </p>
            {% include 'a_posts/reply.html' %}
        </comment>
        {% endfor %}
    </div>
</div>
{% endblock %}